# pip install -r docs/requirements.txt --trusted-host pypi.pubyun.com -i http://pypi.pubyun.com/simple

# run https://github.com/scrapinghub/splash docker

# macOS prepare: brew install cmake boost boost-python --with-python3
dlib

opencv-python

flask
requests

# for develop
pytest
